.container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.subheader {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #000000;
  outline: none;
}

.verifyButton {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.verifyButton:hover {
  background-color: #333333;
}

.errorMessage {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

.successMessage {
  color: #008000;
  font-size: 14px;
  margin-top: 10px;
}

/* For smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    width: 90%;
    margin: 20px auto;
  }

  .header {
    font-size: 20px;
  }

  .subheader {
    font-size: 14px;
  }

  .input,
  .verifyButton {
    font-size: 14px;
  }
}
